<div>
    <div>
      <h4>{{pageTitle}}</h4>
    </div>
</div>
<div class='card-body'>
    <div class='table-responsive'>
        <table class='table table-striped' *ngIf='ayahs'> 
            <thead class="thead-light">
                <tr>
                    <th>Page #</th>
                    <th>Ayah Number</th>
                    <th>Ayah</th>
                </tr>
            </thead>
            <tbody class="customtable">
                <tr *ngFor='let ayah of ayahs'>
                    <td>
                        <a [routerLink]="['/pages',ayah.page]">{{ayah.page}}</a>
                    </td>
                    <td>{{ayah.number}}</td>
                    <td>{{ayah.text}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
