<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/Makkah.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
             <img src="./assets/images/Madina.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>
      <div class="text-center">Modified by:</div>
      <div class="text-center">
        <h3>Syed Hyderali</h3>
      </div>

      <div class="text-center">@syedmdharis</div>
    </div>
  </div>
</div>
