<div>
  <div>
    <h4>{{pageTitle}}</h4>
  </div>
</div>
<div class='card-body'>
    <div class='table-responsive'>
        <table class='table table-striped'
               *ngIf='surahs.length'>
            <thead class='thead-light'>
                <tr>
                    <th>Surah Number</th>
                    <th>Surah Name</th>
                    <th>English Name</th>
                    <th>Name Translation</th>
                    <th>No.of Ayahs</th>
                    <th>Revelation Type</th>
                </tr>
            </thead>
            <tbody class='customtable'>
                <tr *ngFor='let surah of filteredSurahs'>
                    <td>
                        <a [routerLink]="['/surahs',surah.number]">{{surah.number}}</a>
                    </td>
                    <td>{{surah.name}}</td>
                    <td>{{surah.englishName}}</td>
                    <td>{{surah.englishNameTranslation}}</td>
                    <td>{{surah.numberOfAyahs}}</td>
                    <td><img [src]='surah.revelationType'
                             [title]='surah.englishName'
                             [style.width.px]='imageWidth'
                             [style.margin.px]='imageMargin'>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
