/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

/*https://www.youtube.com/watch?v=CgCPP2KO5ds*/
/*https://freefrontend.com/css-cards/page/4/ */


.container {
}
.chapter-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 7px;
  padding: 30px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color:#38a698;
}

.chapter {
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #d6d8d8;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  padding-left: 10px;
  margin: 2px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

  .chapter:hover {
    border: 2px solid #38a698;
  }

.chapter-number {
  background-color: #ffffff;
  border: 2px solid #d6d8d8;
  color: #3A3B3C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  transform: rotate(45deg);
  margin-inline-end: 1.1875rem;
  max-height: 75px;
}

.chapter-name, .chapter-info {
  background-color: #ffffff;
  color: #3A3B3C;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  vertical-align: central;
  max-height: 75px;
}

.chapter-number .left {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: x-small;
  font-weight: bold;
  transform: rotate(-45deg);
}

.chapter-name .top {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight: bold;
}

.chapter-name .bottom {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: x-small;
  font-weight: bold;
  color: #7a7e7e;
}

.chapter-info .top {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.chapter-info .bottom {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: x-small;
  font-weight: bold;
  color: #7a7e7e;
}
