<div>
  <div>
    <h4>{{pageTitle}}</h4>
  </div>
</div>
<div>
  <div class='courses-container'
       *ngFor='let ch of chapter.chapters'>
    <!--<a href="" >-->
    <div class='course'>
        <div class='course-preview-left'>
          <a href="#"><h6>{{ch.id}}</h6></a>
        </div>
        <div class='course-preview-right'>
          <div>
            <h5>{{ch.name_simple}}</h5>
          </div>
          <div >
            {{ch.translated_name.name}}
          </div>
        </div>
      <div class='course-info'>
        <div >
          <h4><span translate='no'>{{ch.name_arabic}}</span></h4>
          <div >
            <h6>{{ch.verses_count}}</h6>
          </div>
        </div>
      </div>
    </div>
    <!--</a>-->
  </div>

  <!-- Old Container -->
  <!--<div class='card--container'
       *ngFor='let ch of chapter.chapters'>
    <a href="" class="link">
      <div class='preview--container'>
        <div class='chapter--cardLeft'>
          <div class='chapter--namecontainer'>
            <div class='chapter--number'>
              <span>{{ch.id}}</span>
            </div>
            <div class='chapter--name'>
              {{ch.name_simple}}
            </div>
            <div class='chapter--translatedname'>
              {{ch.translated_name.name}}
            </div>
          </div>
        </div>
        <div class='chapter--cardRight'>
          <span class='chapter--arabic'>
            <span translate='no'>{{ch.name_arabic}}</span>
          </span>
          <div class='chapter--versecount'>
            {{ch.verses_count}}
          </div>
        </div>
      </div>
    </a>
  </div>-->
</div>
