<div class='card-title'>
  {{pageTitle}}
</div>
<div class='chapter-container' *ngIf='quranjuz.length'>
  <div *ngFor='let j of quranjuz'>
    <a href="">
      <div class='chapter'>
        <div class='chapter-number'>
          <div class='left'><span>{{j.id}}</span></div>
        </div>
        <div class='chapter-name'>
          <div class='top'>
            {{j.first_verse_id}}
          </div>
          <div class='bottom'>
            {{j.last_verse_id}}
          </div>
        </div>
        <div class='chapter-info'>
          <div class='top'>
            <!--<span translate='no'>{{ch.name_arabic}}</span>-->
          </div>
          <div class='bottom'>
            {{j.verses_count}}
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
